.populares {
    padding: 3rem 0;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: card-conteudo;
    padding: 1rem 0;
}

.populares__card {
    display: grid;
    grid-template-areas:
        "card-image"
        "card-corpo";
    grid-template-columns: 100%;
    background-color: #fff;
}

.populares__card:last-child {
    margin-right: 0;
}

.populares__card___imagem {
    grid-area: card-image;
    width: 100%;
    height: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-template-areas:
        "card-conteudo-titulo"
        "card-conteudo-texto";
    grid-row-gap: .5rem;
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.populares__card___cabecalho {
    grid-area: card-conteudo-titulo;
}

.populares__card___descricao {
    grid-area: card-conteudo-texto;
}

.populares__card___titulo {
    font-size: 1.5rem;
    color: #333333;
}

.populares__card___data {
    font-size: .8rem;
    color: #888888;
}

.populares__card___descricao {
    color: #333333;
    margin: 1rem 0;
    line-height: 1.5;
    text-align: justify;
}

.populares__cabecalho {
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
}

.populares__botao {
    border: none;
    background-color: transparent;
    color: #333333;
}